.info-container {
    max-width: 1000px;
    background: #fff;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 15px;
}

.info-gap {
    margin-bottom: 4rem !important;
}

.info-container p {
    margin-bottom: 4rem;
    text-align: justify;
}

.info-org p {
    margin-bottom: 1rem;
}

.info-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.info-subtitle {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: -2rem;
}

.info-bold {
    font-weight: bold;
}

.info-underline {
    text-decoration: underline;
}

.info-org {
    margin: 3rem 0 3rem;
    padding: 10px;
    border-left: 4px solid #3498db;
    background: #eef6ff;
}


/* --- Адаптивность --- */
@media (max-width: 1024px) {
    .info-container {
        max-width: 90%;
    }
}

@media (max-width: 724px) {
    .info-container {
        padding: 15px;
    }

    .info-title {
        font-size: 18px;
    }

    .info-subtitle {
        text-align: center;
    }

    .info-container p {
        margin-bottom: 3rem;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .info-title {
        font-size: 16px;
    }

    .info-container {
        padding: 10px;
    }

    .info-back-to-top {
        font-size: 20px;
        padding: 8px;
    }
}

@media (max-width: 360px) {
    .info-title {
        font-size: 14px;
    }

    .info-container {
        padding: 8px;
    }

    .info-back-to-top {
        font-size: 18px;
        padding: 6px;
    }
}