.footer {
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footer-container {
    background-color: #3056df;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 100%;
    margin: 0 auto;
}

.footer-nav {
    display: flex;
    padding: 2rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 75rem;
}

.footer-btn {
    color: #fff;
    transition: all 0.3s ease;
    font-size: 25px;
    font-weight: 600;
}

.footer-btn:hover {
    color: #4a90e2;
}

.logo-btn {
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo-btn:hover {
    transform: translateY(-2px);
}

.logo-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-logo {
    width: 80px;
    height: 50px;
    border-radius: 10%;
}

@media (max-width: 768px) {
    .footer-nav {
        padding: 2rem;
    }
}